.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

::selection{
    background-color: rgb(27, 216, 27);
    color: rgb(18, 18, 202);
}